.wrapper {
  background-color: #f3f3f3;
}
  
.html {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: 'EB Garamond', serif;
  background-color: #f3f3f3;
  color: #333;
  margin: 0;
  padding: 0;
}

.inner {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.fa {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

/* header */
.header {
  background-image: url("https://KoheiSeki-jp.github.io/firstfolio/img/keyboard.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.header-content {
  font-size: 140px;
  margin-bottom: 20px;
}

.header-sub-content {
  font-size: 30px;
}

/*navigation*/
.navigation ul {
  font-size: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.navigation ul li {
  margin-right: 100px;
  text-align: center;
}

.navigation ul li:last-child {
  margin-right: 0;
}
/*main*/
/*PROFILE*/
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}
.skill,
.works,
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  margin-top: 120px;
}

.profile-title,
.skill-title {
  font-size: 50px;
}

.profile-content {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: left;
}

.profile-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 90px;
}

.profile-details {
  text-align: left;
}

.profile-details h3,
.profile-details p {
  margin: 0;
}

.profile-description {
  text-align: left;
  margin-left: 20px;
}

.work-experience {
  margin-left: -20px;
}

.career {
  margin-top: -0px;
  font-size: 25px;
}

.work-experience h3,
.work-experience p {
  text-align: left;
  margin-left: 160px;
}
/* SKILL */
.skill {
  display: flex;
  justify-content: space-between;
}

.skill-content {
  flex: 1;
}

.html_css_img {
  position: relative;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.js_img {
  font-size: 60px;
  margin-right: 20px;
}

.html_css_img i {
  position: absolute;
  font-size: 40px;
  margin-right: 10px;
}

.fa-html5 {
  top: 0px;
  left: 0px;
}

.fa-css3 {
  right: 0;
  bottom: 0;
}

.html_css,
.JavaScript {
  flex: 1;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.html_css {
  float: left;
  margin-right: 150px;
}

.JavaScript {
  margin-right: 120px;
}

.skill-about {
  font-size: 18px;
  font-weight: bold;
}

.skill-about-text {
  margin-top: 30px;
  text-align: left;
  line-height: 0.5;
  font-weight: normal;
}

.future-skill {
  position: center;
  align-items: center;
  margin-bottom: px;
}

.future-skill-list {
  display: flex;
  justify-content: space-between;
  gap: 140px;
}

.future-skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.future-skill-icon i {
  font-size: 60px;
}

.future-skill-icon p {
  margin-top: 10px;
  font-size: 14px;
}

/* WORKS */
.gallery {
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  margin: 0 10px;
}

.card-img {
  width: 310px;
  height: 200px;
  margin: 0;
  padding: 0;
}

.card-caption {
  margin-top: 10px;
}

.url-link {
  color: #0366d6;
}

/* CONTACT */
.contact form label,
.contact form input,
.contact form textarea,
.contact form button {
  margin-bottom: 10px;
}

.form-wrapper {
  display: inline-block;
  text-align: left;
}

.contact form label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5px;
}

.contact form input,
.contact form textarea {
  width: 100%;
}

.contact form {
  max-width: 500px;
  margin: 0 auto;
}

/* footer */
footer {
  background-color: #333;
  text-align: center;
  padding: 20px;
  color: #fff;
}

.footer-text {
  margin-top: 20px;
}
